
<div class="section section-signin">
    <p class="text-center"><a href="index.html"><img src="./assets/logo.png" alt="Progressus HTML5 template"></a></p>
    <div class="panel panel-default">
        <div class="panel-body" role="tabpanel">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="do-signin">
                    <h3 class="text-center">Recuperar Clave</h3>
                    <p class="text-center">
                        <br><br>
                    </p>
                    <form [formGroup]='registroForm'class="form-signin" >
                            <div class="form-group">
                                    <label class="sr-only">Mail <span class="text-danger">*</span></label>
                                    <input type="email"  class="form-control" [formControl]='inputMail' placeholder="Mail" required>
                                </div>
                        <div class="form-group">
                                <button class="btn btn-block btn-action" type="submit" (click)="onClick()">Recuperar</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>