<div class="container " style="margin: 100px 50px">
	<div class="row">
	    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
    		<a href="/juegos/adivina">
    		<div class="thumbnail">
    		    <img src="./assets/adivina.gif" width="180" height="100"alt="#">
    			<div class="caption">
    				<h3>
    					Adivina El Número
    					<small>
    						Juego de estrategia
    					</small>
    				</h3>
    				<hr>		
    				<p>
    					Adivina el numero generado aleatoreamente!
    				</p>
    				<button class="btn btn-default" role="button">Jugar!!!</button>
    			</div>
    		</div>
    		</a>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
    		<a href="/juegos/anagrama">
    		<div class="thumbnail">
    		    <img src="./assets/anagrama.png" width="200" height="200" alt="#">
    			<div class="caption">
    				<h3>
    					Anagrama
    					<small>
    						Juego de Agilidad Mental
    					</small>
    				</h3>
    				<hr>		
    				<p>
    					Descubre la palabra desordenada!
    				</p>
    				<button class="btn btn-default" role="button">Jugar!!</button>
    			</div>
    		</div>
    		</a>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card" >
    		<a href="/juegos/agilidad">
    		<div class="thumbnail">
    		    <img src="./assets/agilidad.png" width="200"  height="200" alt="#">
    			<div class="caption">
    				<h3>
    					Agilidad Aritmética
    					<small>
    						Juega contra la Máquina
    					</small>
    				</h3>
    				<hr>		
    				<p>
    					Resuelve las operaciones elementales!
    				</p>
    				<button class="btn btn-default" role="button">Jugar!!!</button>
    			</div>
    		</div>
    		</a>
    	</div>
    	
	</div>
	<div class="row">
		 
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
    		<a href="/juegos/simon">
    		<div class="thumbnail">
    		    <img src="./assets/simonsays.jpg" width="250" height="200" alt="#">
    			<div class="caption">
    				<h3>
    					Simon Dice
    					<small>
    						Habilidad de reacción
    					</small>
    				</h3>
    				<hr>		
    				<p>
    					Sigue la secuencia de colores!
    				</p>
    				<button class="btn btn-default" role="button">Jugar!!</button>
    			</div>
    		</div>
    		</a>
		</div>
	 
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card">
				<a href="/juegos/ppot">
				<div class="thumbnail">
					<img src="./assets/piedrapapelotijera.jpg" width="217" height="200" alt="#">
					<div class="caption">
						<h3>
							Piedra Papel o Tijera
							<small>
								Juego de Estrategia
							</small>
						</h3>
						<hr>		
						<p>
							Juega contra la máquina!
						</p>
						<button class="btn btn-default" role="button">Jugar!!</button>
					</div>
				</div>
				</a>
			</div>
	</div>
</div>
