<section class=" principal container-fluid">
   
  <h3 class="text-center">¿Quién Soy?</h3>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h3 class="text-center lato slideInUp animate">Soy <strong>Germán Moltoni</strong>, estudio Técnico en Programación en la Universidad Tecnológica Nacional</h3>
            <br>
            <div class="row">
                <div class="col-xs-12 text-center ">Este es un Trabajo práctico para la materia Laboratorio IV, en la cual se busca aplicar los conocimientos de Angular 2</div>
               
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                 
                <div class="col-xs-12 text-center">Simón Dice fué el juego elegido. Consta de seguir la secuencia de luces presentada aleatoriamente.</div>
            </div>
            <br>
            <p class="text-center">
                <img src="./assets/simonsays.jpg" height="150" width="250"class="img-responsive thumbnail center-block ">
            </p>
        </div>
    </div>
</section>