
 
 
 
                   
  
 
   <h1 style="margin:4% 0px 0px 32%;  color:aliceblue">Simon Dice</h1>
<div class="back" style="margin:6% 0px 0px 30%; zoom: 0.5;
-moz-transform: scale(0.5);" >
  <a class="pad shape1" [@padState]="pads[0]"  (click)="button(1,'verde')">
 
  </a>
  <a class="pad shape2"  [@padState]="pads[1]" (click)="button(2,'rojo')">
 
  </a>
  <a class="pad shape3" [@padState]="pads[2]" (click)="button(3,'amarillo')">
  
  </a>
  <a class="pad shape4" [@padState]="pads[3]" (click)="button(4,'azul')">
 
  </a>
  <div class="circle"> <button style="margin:42% 0px 0px 28%;"class="btn btn-lg" (click)="GenerarNuevo()">Comenzar</button></div>
</div>

 
 
 
 


 


 