<div class="  panel  "   >
    <h2 class="text-center">Piedra Papel o Tijera</h2>
    <div class="row">
        <div class="form-group  "    >
            <div class=" col-md-offset-4 col-md-4 text-center"  >
                <div class="animated bounceInDown" >
                    <img src="{{img}}" style="">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center"  >
        <img class="PiedraPapelTijera animated zoomInRight " src="./assets/piedra.jpg" (click)="Jugar('piedra')">
        <img class="PiedraPapelTijera animated zoomInUp" src="./assets/papel.jpg" (click)="Jugar('papel')">
        <img class="PiedraPapelTijera animated zoomInLeft"  src="./assets/tijera.jpg" (click)="Jugar('tijera')">
    </div>     
    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4"></div>
        <div class="col-md-4 text-center" >
            <h4 class="alert alert-success" [hidden]="!alertaGano">Ganaste el juego!!</h4>
            <h4 class="alert alert-danger" [hidden]="!alertaPerdio">Perdiste!!</h4>
            <h4 class="alert alert-danger" [hidden]="!alertaEmpate">Empate!! Jugá de nuevo!</h4>
            
        </div>
    </div> 
    <div class="row">&nbsp;</div>
    <div class="row">
            <h4 class="text-center"><strong>Elegí Piedra Papel o Tijera para comenzar el juego!</strong></h4>    
        </div>     
</div>