 
  <app-menu-principal></app-menu-principal>
  <section class="container-fluid" id="section2">
        <div class="container v-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInLeft animate">
                                <div class="panel-heading">
                                        <h3> <span   class="icon"><img src="./assets/game.png"></span>Juegos</h3></div>
                                <div class="panel-body">
                                        <p>Juegos programados durante la cursada de Laboratorio 4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInUp animate">
                                <div class="panel-heading">
                                        <h3><span   class="icon"><img src="./assets/jug.png"></span>Jugadores y Resultados</h3></div>
                                <div class="panel-body">
                                        <p>Listado de jugadores y resultados de cada juego</p>
                                        <br>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInRight animate">
                                <div class="panel-heading">
                                    <h3> <span class="icon"><img src="./assets/config.png"></span>Configuraciones</h3></div>
                                <div class="panel-body">
                                        <p>Registro e ingreso de jugadores</p>
                                        <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <br>
            </div>
        </div>
        <!--/container-->
    </section>
    
 
 