
<div class="navigation">
  <header>
      <div class="header-content">
          <div class="logo"><a href="#"><img src="" alt="Sedna logo"></a></div>
          <div class="header-nav">
              <nav>
                  
                  <ul class="member-actions">
                      <li><a routerLink="/login" class="login"><span><img src="./assets/32.png">Ingresar</span></a></li>
                      <li><a routerLink="/signup" class="btn-white btn-small"><span><img src="./assets/registro.png">Registrarse</span></a></li>
                  </ul>
              </nav>
          </div>
          <div class="navicon">
              <a class="nav-toggle" href="#"><span></span></a>
          </div>
      </div>
  </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="hero-content text-center">
                <h2>Sala de Juegos</h2>
                <p class="intro">Germán Moltoni</p>
                <a href="/about" class="btn btn-accent btn-large">¿Quién Soy?</a>
            </div>
        </div>
    </div>
</div>
