 
<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-danger" href="#">GMoltoni</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
 
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/login" class="login"><span><img src="./assets/32.png">Login</span></a></li>
                <li><a routerLink="/signup" class="btn-white btn-small"><span><img src="./assets/registro.png">Registrarse</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<section class=" principal container-fluid" >
        <div class=" ">
            <h1 class="text-center">Sala de Juegos</h1>
            <h3 class="text-center lato animate slideInDown">Germán Moltoni</h3>
            <p class="text-center">
                <br>
                <a href="#" class="btn a btn-round" data-toggle="modal" data-target="#myModal">¿Quién Soy?</a>
            </p>
        </div>

    </section>
 
